@{
    ViewData["Title"] = "Home Page";
}

@*A home page containing the title “The Joel Hilton Film Collection” and the only image I
could find of him on the Internet:
o https://byu.box.com/s/p1d6uozvh4b8a5knyfo1dwzhhrp4mhd7*@



<div class="text-center">
    <h1 class="display-4">"The Joel Hilton Film Collection"</h1>

    <img src="~/img/JoelHilton.jpg" />

</div>
