@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Podcasts";
}
@*A separate “My Podcasts” page with a link to the Baconsale site: https://baconsale.com/*@


<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>

    @*I decided to put in in an iframe because that looks better than a page with just a link on it.*@
    <iframe src=" https://baconsale.com/"
            style="width:100%; height:500px" frameborder="0"
            allowfullscreen>
        <p>
            <a href="https://baconsale.com/">
                Fallback link for browsers that don't support iframes
            </a>
        </p>
    </iframe>
    <a href="https://baconsale.com/">Fallback link</a>
</div>